@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewData["Title"]</h2>
    <input type="text" class="input" id="input_id" />
    <div id="title"></div>
    <button type="button" class="btn btn-primary" onclick="getPhoneById()">Click me</button>
    <button type="button" class="btn btn-primary" onclick="createPhoneWithRandomPrice()">Create Phone</button>
    <button type="button" class="btn btn-primary center" style="margin-top: 25px" onclick="getTestPdf()">Get test pdf</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

